.mypage-text-title {
    font-size:30px;
    margin-bottom:30px;
}

.mymenu {
    font-size:20px;
}

.mypost-list {
    border-bottom: 2px dashed #000;
}

.mypost-left {
     width:10%;
}

.mypost-right {
     width:90%;
}

.mypost-list {
    height:250px;
}

.mypost-title {
    font-size:25px;
}

.mypost-body {
    margin-bottom:15px;
}