.mypage-text-title {
    font-size:30px;
    margin-bottom:30px;
}

.mymenu {
    font-size:20px;
}

.mypost-list {
    height:200px;
    border-bottom: 2px dashed #000;
}

.mypost-left {
    width: 20%;
    float: left;
}

.mypost-right {
  width: 80%;
  float: left;
}

.mypost-image{
    margin-top:10px;
    margin-left:70px;
    width: 180px;
    height:190px;
}
.mypost-title {
    font-size:25px;
}

.mypost-body {
    margin-bottom:2px;
}

.mypost-edit {
    margin-top:50px;
}

.profile_img {
    width:50%;
    height:50%;
}