img {
    width:100%;
}

.logo {
  width:150px;
  height:150px;
  margin-right:40px;
}

.dark {
    font-size:25px;
     text-align: left;
    
}
.top-photo {
    margin-bottom:30px;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.news {
  font-size:25px;
  width:100px;
  margin:0 auto;
  text-align: center;
  color: #FF7882;
  border-bottom: 1px solid #FF7882;
}

.news-bottom {
  font-size:20px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

.card-contents {
  margin:  0 auto; 
  text-align: center;
}

.list-area:after {
  clear: both;
  display: block;
  content: " ";
}

.list {
  width: 400px ;
  float: left;
}

.image-list {
  border: 1px solid #FF7882;
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
  display: block;

}
.photo-title {
  color: #FF7882;
  font-size:20px;
  text-align: left;
  margin-bottom:0px;
}

.news-text {
   text-align: left; 
   font-size:18px;
}

.dark{
    color:#333;
}