.image-list-bg-photo{
  width:480px;
  height:360px;
}

.photo-list{
  width:300px;
  height:250px;
}

.photo-list-area {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  .photo-list-wrap{
    width:22%;
    .photo-list-img{
      height:230px;
      overflow:hidden;
    }
  }
}

.zk-photo {
   box-shadow: 0px 0px 5px #aaa;
}

.photo-text{
  margin-top:10px;
  font-size:20px;
  text-align: left;
}

.placename {
  font-size:15px;
}