.left-contents {
  width: 40%;
  float: left;
}

.right-contents {
  width: 60%;
  float: left;
}

.show-title2{
  width:100px;
  font-size:20px;
  background: linear-gradient(transparent 80%, #ffe4e1 70%);
}

.image-list-bg-travel{
  background:url(../image/bg-grid.png) no-repeat left top;
  background-size:100% 100%;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.travel-title {
  color: #508DB0;
  font-size:20px;
  text-align: left;
  margin-bottom:0px;
}


.travel-text {
    text-align: left;
    font-size:18px;
}

.show-title {
  font-size:25px;
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}

.show-text {
  font-size:18px;
  white-space: pre-wrap;
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%, #fff 100%), /* 点線1の色 */
                  linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */
                 100% 2.5em; /* 点線2のサイズ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
}