
.logo {
  width:150px;
  height:150px;
  margin-right:40px;
}

.container {
  width: 1800px;
  margin: 0 auto 0 auto;
}

.top-photo {
  width:1800px;
  height:900px;
}

.news {
  font-size:25px;
  margin-left: 835px;
  margin-top: 30px;
  width:100px;
  text-align: center;
  color: #FF7882;
  border-bottom: 1px solid #FF7882;
}

.news-bottom {
  font-size:20px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
}

.card-contents {
  margin:  0 auto; 
  text-align: center;
}

.list-area:after {
  clear: both;
  display: block;
  content: " ";
}

.list {
  width: calc(100% / 3) ;
  float: left;
}

.image-list {
  border: 9px solid #FF7882;
  margin-bottom: 10px;
  margin-left:90px;
  width: 400px;
  height: 300px;
  display: block;

}
.photo-title {
  color: #FF7882;
  font-size:20px;
  text-align: left;
  margin-bottom:0px;
  margin-left:90px;
}

.news-text {
   text-align: left; 
   font-size:18px;
   margin-left:90px;
}